@charset "UTF-8";
td,th{font-family:맑은 고딕;font-size:9pt;height:35px}
.table_main{border-collapse:collapse;
border-top-width: 2px;border-bottom-width: 1px;border-top-style: solid;border-bottom-style: solid;border-top-color: #333;border-bottom-color: #333;}
.table_main th{
background-color: #999;color: #fff;border-bottom-width: 1px;border-bottom-color: #333;}
.table_main td{
border-bottom-width: 1px;border-bottom-color: #666;border-bottom-style: dotted;}
a{color:black;text-decoration:none}
a:hover{color:green;text-decoration:underline}
.dataTr:HOVER {background-color: #FC6;cursor: pointer;cursor: hand;}